# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
dist-electron/main.js
dist-electron/preload.js
release

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
